.container_card {
  display: flex !important;
  flex-direction: column;
  padding-top: 100px !important;
  color: white;
  background-color: #4b515d;
  text-decoration: none !important;
}

.content_card {
  flex-direction: column;
}

.message_error {
  text-align: center;
  padding-bottom: 10px;
  color: orange;
  font-size: 1.3rem;
}
